* {
    margin: 0;
    padding: 0;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 400px) repeat(2, 1fr);
    grid-template-rows: repeat(1, 150px) repeat(1,300px);
}

.child {
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    color: white;
    box-sizing: border-box;
    border: 2px solid black;
}

.child-two {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
}

.site {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 200px 200px 200px;
    grid-template-areas: "header header asdf"
                         "article article asdf"
                         "footer footer asdf";
    row-gap: 10px;
    column-gap: 10px;
}

.site>div {
    background-color: darkviolet;
    font-size: 45px;
    color: white;
    box-sizing: border-box;
    border: 2px solid black;
}

.header {
    grid-area: header;
}

.asdf {
    grid-area: asdf;
}

.article {
    grid-area: article;
}

.footer {
    grid-area: footer;
}
