.devices {
    margin-top: 63px;
    text-align: center;
    
    &__title {
        margin-bottom: 52px;
    }
    
    &__wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__item{
        transition: .2s;
        
        &:hover {
            box-shadow: 0 5px 10px -7px gray;
            padding-bottom: 10px;
        }
    }
    
    
    
    &__minititle {
        padding-top: 19px;
    }

    &__link {
        text-decoration: none;
        cursor: pointer;
        color: #ED4C5C; 
    }

    
}

.phone-image {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width:500px){
    .devices__wrapper {
        flex-wrap: wrap;
    }

    .devices__item:not(:last-child) {
        margin-bottom: 20px;
    }
}

