.devices {
    margin-top: 63px;
    text-align: center;
    
    &__title {
        margin-bottom: 52px;
    }
    
    &__wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    &__minititle {
        padding-top: 19px;
    }

    &__link {
        text-decoration: none;
        cursor: pointer;
        color: #ED4C5C; 
    }
}

.phone-image {
    max-width: 100%;
    height: auto;
}

