.header {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 38px 80px;
    z-index: 1;
}

.header--scroll {
    background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
}

@media screen and (max-width:1024px) {
    .header {
        justify-content: space-between;
        padding: 25px 60px;
    }
}

@media screen and (max-width: 800px) {
    .header {
        padding: 25px 10px;
    }
}