.menu__list {
    display: flex;
}

.menu__item:not(:last-child) {
    padding-right: 40px;
}

.menu__link {
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}

.menu__link:hover {
    text-shadow: 1px 1px 2px #ffffff;
}

@media screen and (max-width:800px) {
    .menu__item:not(:last-child) {
        padding-right: 10px;
    }
    
    .menu__link {
        font-size: 10px;
    }
}