.menu__list {
    display: flex;
}

.menu__item:not(:last-child) {
    padding-right: 40px;
}

.menu__link {
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}

.menu__link:hover {
    font-weight: bold;
}