<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../reset.css">
    <link rel="stylesheet" href="files/css/styles.css">
</head>
<body>
    <header>
        <div class="menu">
            <ul>
                <li class="menu__item"><a class="menu__link first-screen__text" href="#">Главная</a></li>
                <li class="menu__item"><a class="menu__link first-screen__text" href="#">Наши проекты</a></li>
                <li class="menu__item"><a class="menu__link first-screen__text" href="#">Услуги</a></li>
                <li class="menu__item"><a class="menu__link first-screen__text" href="#">Новости</a></li>
                <li class="menu__item"><a class="menu__link first-screen__text" href="#">Контакты</a></li>
            </ul>
        </div>
    </header>

    <main>
        <section class="first-screen">
            <p class="first-screen__text first-screen__it-studio">Передовая IT студия</p>
            <p class="first-screen__text first-screen__easy-peasy">Мы создаем легкие решения сложных задач и проблем</p>
            <form action="https://www.figma.com/file/Uxrp9FNpkSD0O5meoVts0a/Templates-%234.-More-on-Figma.info-(Copy)?node-id=10%3A2">
                <input class="button first-screen__text first-screen__button" type="submit" value="Наши проекты!">
            </form>
        </section>

        <section class="second-screen">
            <h2>Мы создаем мобильные приложения
                для крупных корпораций</h2>
            <p class="first-screen__text second-screen__text">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. </p>
            <form action="https://www.figma.com/file/Uxrp9FNpkSD0O5meoVts0a/Templates-%234.-More-on-Figma.info-(Copy)?node-id=10%3A2">
                <input class="button first-screen__text second-screen__button" type="submit" value="Все услуги">
            </form>
        
        </section>

        <section class="third-screen">
            <h2>Высокие стандарты разработки</h2>
            <p class="first-screen__text second-screen__text third-screen__text">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.  стандартной "рыбой" для текстов на латинице с начала XVI века. </p>
            <a href="#" class="first-screen__text third-screen__reflink">Подробнее о компании</a>
            <img src="files/img/img2.png" alt="">
            <hr>
        </section>
    </main>

    <footer>

    </footer>
</body>
</html>