.button {
    background-color: #ffffff;
    border: none;
    border-radius: 6px;
    color: #ED4C5C;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    padding: 17px 53px;
}