body {
    height: 150vh;
}

.div0 {
    position: relative;
    width: 300px;
    height: 50px;
    border: 1px solid blue;
}

.progress {
    width: 72%;
    height: 100%;
    text-align: center;
    background-color: rgb(139, 139, 219);
}

.percent {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 25px;
    line-height: 1;
    font-weight: bold;
    top: 12.5px;
}

.modal {
    position: fixed;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 5px;
    width: 250px;
    height: 150px;
    margin:auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 10px 10px 10px;
    display: block;
    border-bottom: 1px solid black;
    width: 100% auto;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding: 15px 10px 10px;
    display: block;
    border-bottom: 1px solid black;
    width: 100% auto;
    height: 35px;
}

button {
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    margin-bottom: 10px;
}