.parent {
    display: flex;
    flex-wrap: nowrap;
    width: 750px;
    height: 300px;
    border: 1px solid black;
    align-items: stretch;
}

.child {
    width: 200px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #ffffff;
    line-height: 1.5;
}

.child__name {
    font-weight: bold;
}

.child__content {
    font-size: 10px;
}

span {
    font-weight: bold;
}

.child1 {
    background-color: rgb(90, 90, 221);
}

.child2 {
    background-color: white;
}

.child2__grandchild1 {
    background-color: orange;
    height: 150px;
}

.child2__grandchild2 {
    background-color:darkorchid;
    height: 150px;
}

.child3 {
    background-color:rgb(153, 184, 241);
}

.child4 {
    background-color: white;
}

.child4__grandchild1 {
    background-color: salmon;
    height: 150px;
}

.child4__grandchild2 {
    background-color: crimson;
    height: 150px;
}