@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    color: #ffffff;

}

html, body {
    font-family: Roboto, 'Courier New', Courier, monospace;
}

body {
    background-color: #000000;
    background-image: url('../img/bg-body.png');
}

header, main, footer {
    max-width: 1920px;
    margin: 0 auto;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    padding: 38px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__wrapper {
    display: flex;
    align-items: center;
}

.menu {
    padding-right: 270px;
}

.menu__list {
    display: flex;
}

.menu__item {

}

.menu__item:not(:last-child){
    padding-right: 56px;
}

.menu__link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
}

.button {
    font-size: 16px;
    color: #ffffff;
    padding: 10px 30px;    
    border-radius: 50px;
}

.button--header {
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}